{% extends "base.html" %}

{% block content %}
<p>
    <h3>Profiles and Other Demo Sites:</h3>
    <ul>
        <li>
            <a href = "https://linkedin.com/in/trace-tessier" target="_blank">LinkedIn</a>
        <li>
            <a href = "https://github.com/tessiert" target="_blank">Github</a>
        </li>
        <li>
            <a href = "https://aspiringuketuoso.com" target="_blank">Aspiring Uketuoso - A personal site that I built with Wordpress</a>
        </li>
    </ul>

    <h3>Additional Resources:</h3>
    <ul>
        <li>
            All icons used on this site courtesy of:  <a href="https://icons8.com" target="_blank">Icons8</a>
        </li>
    </ul>
</p>
{% endblock content %}
