{% extends "base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block content %}
    <!-- Address Search Form -->
    <form class="address_search_form" action="{% url 'search' %}" method='POST'>
        {% csrf_token %}
        <!-- Search Form -->
        <div class="buttonHolder">
            <input id="address" type="text" name="address" placeholder="Enter all or part of a U.S. address" size=28>
            <button class="btn btn-primary" name="search_button" type="submit">{% trans "Search" %} </button>
        </div>
    </form>

    <div class="buttonHolder">
        {% block lower_title %}
        {% endblock lower_title %}
    </div>

    {% block lower_content %}
    {% endblock lower_content %}
{% endblock content %}
